.app {
  line-height: 3rem;
}

.list-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  gap: 30px;
  padding: 40px;
  background-color: steelblue;
  border-radius: 5px;
}

.title {
  text-align: center;
  grid-column: 1/5;
  color: white;
}

.list-btn {
  grid-column: 2/4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.list-btn:hover {
  position: absolute;
  left: -1000px;
}

.single-dog {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20% 80% 16% 84% / 77% 13% 87% 23%;
}
